@tailwind base;
@tailwind components;
@tailwind utilities;

.background {
    background-image: url("/futuristic-skyscrapers.png");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center top;
    z-index: -1;
    filter: brightness(50%);
}

.linkUnderline {
    text-decoration: underline;
    text-decoration-thickness: 3px;
    text-underline-offset: 10px;
}

.btn {
    padding: 0.5rem 1rem;
    border-radius: 4px;
    max-width: max-content;
    font-family: comfortaa;
}

.btn:hover {
    filter: brightness(120%);
}

.btn:disabled {
    cursor: not-allowed;
    background-color: grey;
    filter: none;
}
