@tailwind base;
@tailwind components;
@tailwind utilities;

.background {
    background-image: url("/public/futuristic-skyscrapers.png");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center top;
    z-index: -1;
    filter: brightness(50%);
}

.linkUnderline {
    text-decoration: underline;
    text-decoration-thickness: 3px;
    text-underline-offset: 10px;
}

/* width */
::-webkit-scrollbar {
    width: 10px;
}

/* Track */
::-webkit-scrollbar-track {
    background: transparent;
}

/* Handle */
::-webkit-scrollbar-thumb {
    background: #ebd91c;
    border-radius: 10px;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
    background: #cbbd18;
}
